<%- include('../partials/header') %>

<h3>blogs index</h3>
<form id="post-blog" action="/blogs/:id" >
    <div>Title:</div>
    <div><%= blog.title %></div>
    <div><%= blog.blog %></div>
    <input type="submit" value="post-blog">
</form>

<%- include('../partials/footer') %>