<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">HOME</a>
      |
      <a href="/blogs">BLOGS</a>
      |
      <a href="/gear">GEAR</a>
    </nav>
    <h1><%= title %></h1>