<%- include('../partials/header') %>
 <!-- NEW = New gear products |  USED = used gear |
creating new and used products people can talk about as well as sell if need be
like a review and buy on the spot site.
-->
<h2>NEW</h2> <br> <h2>USED</h2>

<%- include('../partials/footer') %>